.wrapper {
    display: inline-block;
    width: 600px;
    height: 400px;
    outline: 1px solid blue;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: "Fira Code Light", monospace;

    background: rgb(238,174,202);
    background: radial-gradient(circle at 50% 150%, rgba(238,174,202,1) 0%, rgba(167,136,166,1) 25%, rgba(141,122,153,1) 37%, rgba(27,56,91,1) 82%);    /* Show only bottom part of the gradient */
    background-position: bottom;
}
